@mixin gradient($direction, $start-color, $end-color) {
    background-image: -webkit-linear-gradient($direction, $start-color, $end-color);
    background-image: -moz-linear-gradient($direction, $start-color, $end-color);
    background-image: -ms-linear-gradient($direction, $start-color, $end-color);
    background-image: -o-linear-gradient($direction, $start-color, $end-color);
    background-image: -linear-gradient($direction, $start-color, $end-color);
}
$primary: LightSlateGray;
$secondary: OldLace;
$ternary: Teal;
body { 
    @include gradient(top left, $primary, $secondary); 
    font-family: 'DejaVu Sans', sans-serif;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
code {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 50%;
}
.step {
    width: 800px;
    height: 600px;
    padding: 40px 60px;
    font-size: 32px;
    opacity: 0.3;
}
.step.active {
    opacity: 1;
}
.slide {
    @include gradient(bottom, $primary, $ternary); 
}
