!!! 5
%html
  %head
    %meta{ 'charset' => 'utf-8' }
    %meta{ :name => 'viewport', :content => 'width=1024' }
    %meta{ :name => 'apple-mobile-web-app-capable', :content => 'yes' }
    %meta{ :name => 'author', :content => 'Bas Bossink' }
    %title Behavior Driven Development | SpecFlow | by Bas Bossink
    %link{ :rel => 'stylesheet', :href => 'bdd.css' }
    %link{ :rel => 'apple-touch-icon', :href => 'apple-touch-icon.png' }
  %body{ :class => 'impress-not-supported'}
    %div{ :id => 'impress'}
      %div{ :class => 'step slide title', :data => { :x => -1000, :y => -1500 }}
        %h1 Behavior Driven Development
        %h2 SpecFlow
        %h2 Bas Bossink <bas.bossink@gmail.com>
      %div{ :class => 'step slide', :data => { :x => 0, :y => -1000 }}
        %h1 Agenda
        %ol
          %li What is BDD?
          %li Evolution of BDD
          %li Tools
          %li SpecFlow
      %div{ :class => 'step slide', :data => { :x => 1000, :y => -500 }}
        %h1 What is BDD
        %ul
          %li TDD different vocabulary
          %li influences: domain-driven design, object-oriented analysis
    %script{ :src => 'js/impress.js' }
    %script
      impress().init()
