!!! 5
%html
  %head
    %meta{ 'charset' => 'utf-8' }
    %meta{ :name => 'viewport', :content => 'width=1024' }
    %meta{ :name => 'apple-mobile-web-app-capable', :content => 'yes' }
    %meta{ :name => 'author', :content => 'Bas Bossink' }
    %title Behavior Driven Development | SpecFlow | by Bas Bossink
    %link{ :rel => 'stylesheet', :href => 'bdd.css' }
    %link{ :rel => 'apple-touch-icon', :href => 'apple-touch-icon.png' }
  %body{ :class => 'impress-not-supported'}
    %div{ :id => 'impress'}
      %div{ :class => 'step slide title', :data => { :x => -1000, :y => -1500, :scale => 7 }}
        %h1 Behavior Driven Development
        %h2 SpecFlow
        %h2 Bas Bossink <bas.bossink@gmail.com>
      %div{ :class => 'step slide', :data => { :x => -500, :y => -1000, :scale => 1 }}
        %h1 Agenda
        %ul
          %li About
          %li What is BDD?
          %li Scenario's
          %li Specification's
          %li SpecFlow
      %div{ :class => 'step slide', :data => { :x => 0, :y => -1000, :z => -2000, 'rotate-x' => 10, 'rotate-y' => -30, :scale => 1}}
        %h1 About
        %ul 
          %li 
            %a{ :href => 'https://github.com/bartaz/impress.js/' } impress.js
          %li 
            %a{ :href => 'http://www.gnu.org/copyleft/fdl.html' } GNU Free Documentation License
          %li 
            %a{ :href => 'https://github.com/basbossink/presentations' } source
          %li 
            %a{ :href => 'http://basbossink.github.io/presentations/BDD/bdd.html'} view
      %div{ :class => 'step slide', :data => { :x => 0, :y => -500, :scale => 1 }}
        %h1 What is BDD?
        %ul
          %li TDD different vocabulary
          %li influences: domain-driven design, object-oriented analysis
          %li ubiquitous language
          %li specification by example
      %div{ :class => 'step slide', :data => {:x => 1000, :y => 0, 'rotate' => -90, :scale => 1 }}
        %h1 Communication
        %img{ :src => 'images/communication.jpg', :width => 600 }
      %div{ :class => 'step slide', :data => {:x => 2000, :y => 500, 'rotate' => -180, :scale => 1 }}
        %h1 Communication
        %img{ :src => 'images/communication.png', :width => 600 }
      %div{ :class => 'step slide', :data => {:x => 3000, :y => -500, 'rotate' => -270, :scale =>1 }}
        %h1 Communication
        %img{ :src => 'images/communication_threesome.jpg', :width => 300 }
      %div{ :class => 'step slide', :data => { :x => 3000, :y => 500, :scale => 1 }}
        %h1 Demo Time
    %script{ :src => 'js/impress.js' }
    %script
      impress().init()
